<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Contact us" />

    <div class="jumbotron">
        <h3>We want to know your opinion</h3>
        <p>If you have a suggestion contact us </p>
        <p>
            <span>
                <img src="~/images/envelope-icon24.png" />
            </span>

            <h5><email address="daily_snack@gmail.com" content="Send an email">Send an email</email></h5>

            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>999000123</h5>
            <br />
            <span>
                <img src="~/images/home-iconred.png" />
            </span>
            <h5>Av. Atlântida 1000</h5>
        </p>
    </div>
</div>
